.node-type-blog-entry{
  .blog-photo{
    margin-bottom: 3rem;
    img{
      width: 100%;
      height: auto;
      border: 1px solid $dark-grey;
    }
  }
  .submitted{
    margin: 0 0 2rem 0; 
    text-transform: uppercase;
    font-size: $small-font;
  }
}

.block-views{
  .views-row{
    margin-bottom: 1rem;
  }
  .view-id-blog{
    .views-field-created{
      font-size: $small-font;
    }
  }
}

.view-blog{
  &.view-display-id-page{
    .views-row{
      border-bottom: 1px solid $primary-color;
      padding-bottom: 2rem;
      margin-top: 2rem;
      &:last-of-type{
        border-bottom: 0;
      }
    }
    .submitted{
      margin: 2rem 0; 
      text-transform: uppercase;
      font-size: $small-font;
    }
  }
}
